@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}
<div class="content-wrapper">

    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            @{Html.RenderAction("ProductList", "Seller");}
        </div>

    </section>
    <!-- /.content -->
</div>


